<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="world_name" default="$(find sc_worlds)/worlds/basic_space.world"/>
  <arg name="namespace" default="polysat"/>
  <arg name="joy_id" default="0"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="2"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
  <arg name="polysat_xacro" default="$(find polysat_perseus_description)/urdf/polysat_robot.urdf.xacro"/>

  <!-- World details -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <include file="$(find polysat_perseus_description)/launch/upload_polysat.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg polysat_xacro)"/>
  
  <node name="spawn_polysat" pkg="gazebo_ros" type="spawn_model"
      respawn="false" output="screen"
      args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param robot_description"/>

  <!-- Start the state publisher --> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    <remap from="robot_description" to="$(arg namespace)/polysat"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false">
    <remap from="robot_description" to="$(arg namespace)/polysat"/>
  </node>

  <!--<node name="position_command" pkg="sc_control" type="position_command.py">
  </node-->
  
  <!-- Load general controllers -->
  <!--
  <include file="$(find oberon7_gazebo)/launch/controller_utils.launch"/>
  
  <rosparam file="$(find oberon7_gazebo)/controller/oberon7_controllers.yaml" command="load"/>
  -->
  <!-- Load chosen controller types -->
  <!--node name="controllers_spawner" pkg="controller_manager" type="spawner" args="hand_effort_r hand_effort_l arm_effort_l arm_effort_r" respawn="false" output="screen"/-->
  <!-- <node name="rviz" type="rviz" pkg="rviz" args="-d $(find sc_control)/rviz_config/sc_rviz.rviz"/> -->

  <!--<include file="$(find sc_control)/launch/polysat_thrusterop.launch"/>-->

</launch>
