<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="polysat"/>
  <arg name="debug" default="false"/>
  <arg name="controller_type" default="effort"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="2"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find polysat_description)/urdf/polysat_robot.urdf.xacro' controller_type:=$(arg controller_type)"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg namespace) -param robot_description"/>
</launch>
