<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="fss">
  <xacro:arg name="namespace" default="fss"/>
  <xacro:arg name="debug" default="false"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <xacro:arg name="controller_type" default="effort"/>
  <xacro:property name="controller" value="$(arg controller_type)"/>

  <xacro:include filename="$(find fss_description)/urdf/fss_base.xacro"/>
  <xacro:fss_base namespace="$(arg namespace)"/>

  <!--xacro:include filename="$(find fss_description)/urdf/fss_reaction_wheels.xacro"/>
  <xacro:add_wheels namespace="$(arg namespace)"/-->

</robot>

