<?xml version='1.0'?>

<model>
  <name>granite_table</name>
  <version>1.0</version>
  <sdf >model.sdf</sdf>

  <author>
    <name>Carson Vogt</name>
    <email>crvogt26@gmail.com</email>
  </author>

  <description>
    Granite table description for 2D spacecraft simulation
  </description>
</model>
