<?xml version="1.0"?>
<launch>
	<param name="use_sim_time" value="true"/>
	<arg name="robot_name"/>
	
	<arg name="parent" default="world"/>

	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>

	<param name="robot_description" command="$(find xacro)/xacro '$(find prime_description)/urdf/prime_robot.urdf.xacro'"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!--arg name="world_name" default="worlds/empty.world"/-->
    <arg name="world_name" default="$(find sc_worlds)/worlds/granite_table.world"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="gui" value="$(arg gui)"/>
	</include>

	<group ns="robot1">
		<param name="tf_prefix" value="robot1_tf"/>
		<include file="$(find prime_description)/launch/prime_multi.launch">
			<arg name="parent" value="$(arg parent)"/>
			<arg name="robot_name" value="robot1"/>
      <arg name="x_val" value="1.3"/>
      <arg name="y_val" value="-1.0"/>
      <arg name="z_val" value="1.55"/>
      <arg name="namespace" value="prime_a"/>
		</include>
	</group>

	<group ns="robot2">
		<param name="tf_prefix" value="robot2_tf"/>
		<include file="$(find prime_description)/launch/prime_multi.launch">
			<arg name="parent" value="$(arg parent)"/>
			<arg name="robot_name" value="robot2"/>
      <arg name="x_val" value="1.3"/>
      <arg name="y_val" value="1.0"/>
      <arg name="z_val" value="1.55"/>
      <arg name="namespace" value="prime_b"/>
		</include>
	</group>
</launch>

