<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="regular_camera_plugin_macro"
    params="namespace suffix parent_link topic mass update_rate hfov
            width height stddev scale *inertia *origin">
    <!-- Sensor link -->
    <link name="${namespace}/camera_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0001"/>
        <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0" 
          iyy="0.000001" iyz="0.0"
          izz="0.000001"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find sc_gazebo_plugins)/meshes/oe14-372.dae" scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </visual>
      <xacro:no_collision/>
    </link>

    <joint name="${namespace}/camera_joint" type="revolute">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${namespace}/camera_link"/>
      <limit upper="0" lower="0" effort="0" velocity="0"/>
      <axis xyz="1 0 0"/>
    </joint>

    <link name="${namespace}/camera_link_optical">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0001"/>
        <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0" 
          iyy="0.000001" iyz="0.0"
          izz="0.000001"/>
      </inertial>
      <collision>
        <geometry>
          <cylinder length="0.000001" radius="0.000001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
    </link>

    <joint name="${namespace}/camera_optical_joint" type="revolute">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${namespace}/camera_link"/>
      <child link="${namespace}/camera_link_optical"/>
      <limit upper="0" lower="0" effort="0" velocity="0"/>
      <axis xyz="1 0 0"/>
    </joint>

    <gazebo reference="${namespace}/camera_link">
      <sensor type="camera" name="camera">
        <update_rate>${update_rate}</update_rate>
        <camera name="camera">
          <horizontal_fov>${hfov}</horizontal_fov>
          <image>
            <width>${width}</width>
            <height>${height}</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3000</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>${stddev}</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <updateRate>${update_rate}</updateRate>
          <cameraName>camera</cameraName>
          <frameName>camera_link_optical</frameName>

          <attenuationR>0.0</attenuationR>
          <attenuationG>0.0</attenuationG>
          <attenuationB>0.0</attenuationB>

          <!-- required for ros depth cam -->
          <imageTopicName>image_${topic}</imageTopicName>
          <pointCloudTopicName>${topic}_cloud</pointCloudTopicName>
          <depthImageTopicName>${topic}_depth</depthImageTopicName>
          <depthImageCameraInfoTopicName>${topic}_depth_info</depthImageCameraInfoTopicName>
          <pointCloudCutoff>10.0</pointCloudCutoff>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="no_collision">
    <collision>
      <geometry>
        <cylinder length="0.0000001" radius="0.00000001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </xacro:macro>
</robot>    

