<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="prime">
  <xacro:arg name="namespace" default="prime"/>
  <xacro:arg name="debug" default="false"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <xacro:arg name="controller_type" default="effort"/>
  <xacro:property name="controller" value="$(arg controller_type)"/>

  <xacro:include filename="$(find prime_description)/urdf/prime_base.xacro"/>
  <xacro:prime_base namespace="$(arg namespace)"/>

  <xacro:include filename="$(find sc_gazebo_plugins)/urdf/imu.xacro"/>
  <xacro:default_imu_macro
    namespace="$(arg namespace)"
    parent_link="$(arg namespace)/base_link"
    inertial_reference_frame="$(arg inertial_reference_frame)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu_macro>

  <xacro:include filename="$(find sc_gazebo_plugins)/urdf/pose_3d.xacro"/>
  <xacro:default_pose_3d
    namespace="$(arg namespace)"
    parent_link="$(arg namespace)/base_link">
  </xacro:default_pose_3d>

  <!--xacro:include filename="$(find prime_description)/urdf/prime_reaction_wheels.xacro"/>
  <xacro:add_wheels namespace="$(arg namespace)"/-->

</robot>

