<?xml version="1.0"?>
<robot name="polysat" xmlns:xacro="https://www.ros.org/wiki/xacro">
  
  <!-- <xacro:property name="debug" default="false"/> -->
  <xacro:arg name="namespace" default="polysat"/>

  <xacro:include filename="$(find polysat_description)/urdf/polysat_thrusters.xacro"/>

  <xacro:macro name="polysat_base" params="namespace">
    <!-- "Dummy base link to eliminate root link inertia warning -->
    <link name="$(arg namespace)/base_link"/>

    <!-- Start of main robot body -->
    <link name="$(arg namespace)/polysat_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100.0"/>
        <inertia
          ixx="10.0" ixy="0.0" ixz="0.0"
          iyy="10.0" iyz="0.0"
          izz="10.0"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <!-- Connect dummy link to main link -->
    <joint name="$(arg namespace)/polysat_base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="$(arg namespace)/base_link"/>
      <child link="$(arg namespace)/polysat_link"/>
    </joint>

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>$(arg namespace)</robotNamespace>
        <robotParam>$(arg namespace)</robotParam>
      </plugin>
    </gazebo>

    <!-- Add maneuvering thrusters -->
    <xacro:thruster_macro namespace="${namespace}" thruster_id="0">
      <origin xyz="0.5 0 0.5" rpy="0 0 0"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="1">
      <origin xyz="0.5 0 -0.5" rpy="0 0 0"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="2">
      <origin xyz="-0.5 0 0.5" rpy="0 0 3.1415926535"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="3">
      <origin xyz="-0.5 0 -0.5" rpy="0 0 3.1415926535"/>
    </xacro:thruster_macro>
    
    <xacro:thruster_macro namespace="${namespace}" thruster_id="4">
      <origin xyz="0 0.5 0.5" rpy="0 -1.5707963268 0"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="5">
      <origin xyz="0 -0.5 0.5" rpy="0 -1.5707963268 0"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="6">
      <origin xyz="0 0.5 -0.5" rpy="0 1.5707963268 0"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="7">
      <origin xyz="0 -0.5 -0.5" rpy="0 1.5707963268 0"/>
    </xacro:thruster_macro>
     
    <xacro:thruster_macro namespace="${namespace}" thruster_id="8">
      <origin xyz="0.5 0.5 0" rpy="0 0 0"/> 
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="9">
      <origin xyz="0.5 -0.5 0" rpy="0 0 0"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="10">
      <origin xyz="-0.5 0.5 0" rpy="0 0 3.1415926535"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="11">
      <origin xyz="-0.5 -0.5 0" rpy="0 0 3.1415926535"/>
    </xacro:thruster_macro>

    <xacro:thruster_macro namespace="${namespace}" thruster_id="12">
      <origin xyz="0 0.5 0" rpy="0 0 1.5707963268"/>
    </xacro:thruster_macro>
    <xacro:thruster_macro namespace="${namespace}" thruster_id="13">
      <origin xyz="0 -0.5 0" rpy="0 0 -1.5707963268"/>
    </xacro:thruster_macro>

    <xacro:arg name="inertial_reference_frame" default="world"/>

    <xacro:include filename="$(find sc_gazebo_plugins)/urdf/imu.xacro"/>
    <!-- IMU  -->
    <xacro:default_imu_macro
      namespace="$(arg namespace)"
      parent_link="$(arg namespace)/base_link"
      inertial_reference_frame="$(arg inertial_reference_frame)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:default_imu_macro> 
   </xacro:macro>
</robot>
