<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="thruster_macro" params="namespace thruster_id *origin">
   <joint name="${namespace}/thruster_${thruster_id}_joint" type="fixed">
     <xacro:insert_block name="origin"/>
     <parent link="${namespace}/base_link"/>
     <child link="${namespace}/thruster_${thruster_id}"/>
   </joint>

   <link name="${namespace}/thruster_${thruster_id}">
     <xacro:box_inertial x="0" y="0" z="0" mass="0.0001">
       <origin xyz="0 0 0" rpy="0 0 0"/>
     </xacro:box_inertial>
     <visual>
       <origin rpy="0 0 0" xyz="0 0 0"/>
     </visual>
     <collision>
       <geometry>
         <cylinder length="0.0000001" radius="0.0000001"/>
       </geometry>
       <origin xyz="0 0 0" rpy="0 0 0"/>
     </collision>
   </link>

   <gazebo>
     <plugin name="${namespace}_${thruster_id}_thruster_model" filename="libsc_gazebo_thrust_plugin.so">
       <thruster>
         <linkName>${namespace}/thruster_${thruster_id}</linkName>
         <jointName>${namespace}/thruster_${thruster_id}_joint</jointName>
         <cmdTopic>${namespace}/thrusters/thruster_${thruster_id}</cmdTopic>
         <angleTopic>${namespace}/thrusters/thruster_${thruster_id}_angle</angleTopic>
         <enableAngle>false</enableAngle>
       </thruster>
     </plugin>
   </gazebo>
  </xacro:macro>


  <xacro:macro name="box_inertial" params="x y z mass *origin">
    <inertial>
      <mass value="${mass}"/>
      <xacro:insert_block name="origin"/>
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
               iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
               izz="${0.0833333 * mass * (x*x + y*y)}"/>
      </inertial>
  </xacro:macro>
</robot>
